*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    padding: 4% 4% 2% 4%;
    align-items: center;
    width: 100%;
}
nav.navbar{
    padding-left: 4%;
    width: 100%;
}
ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
li a {
    text-decoration: none;
    padding-right: 20px;
    color: darkmagenta;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}
.text-organized{
    padding: 1% 4% 2% 4%;
}